<a href="/admin/posts"><button type="button" name="button" class="btn btn-success">POSTAGEM</button></a>
<a href="/admin/category"><button type="button" name="button" class="btn btn-success">CATEGORIA</button></a>