
{{#each postagem}}
<div class="card">
    <div class="card-body">
        <h1>{{titulo}}</h1>
        <small>Data de publicação{{data}}</small>
        <hr/>
        <p style="white-space: pre-line">{{conteudo}}</p>
    </div>
</div>
{{else}}
{{/each}}